.party h1 {
  margin-top: 6rem;
}

.party h1,
.party h3,
.party p {
  text-align: center;
  margin-bottom: 1rem;
}

.actions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service {
  padding: 1rem;
  border-radius: 10px;
  border: 2px dashed #fff;
}

.service p {
  margin-bottom: 0;
}