* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: #2a2b2e;
  color: #f0f0f0;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

a {
  color: #f0f0f0;
  text-decoration: none;
  font-weight: bold;
}

p {
  color: #c3c7da;
}

.btn,
.btn-secondary {
  background-color: #7703fc;
  color: #fff;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: 0.4s;
  cursor: pointer;
  display: block;
}

.btn:hover,
.btn-secondary:hover {
  opacity: 0.8;
}

.btn-secondary {
  background-color: #fff;
  color: #283252;
  border: 1px solid #cfcfcf;
}
